<div class="jumbotron">
    <h2 class="display-3">San Jose, CA</h2>
    <hr>
    <div style="display: flex; justify-content: space-between">
      <div>
        <p>Humidity: {{ humidity }} </p>
        <p>Temperature (high): {{ tempHigh }}</p>
        <p>Temperature (low): {{ tempLow }} </p>
        <p>Average Temperature: {{ tempAverage }} </p>
        <p>Status: {{ status }} </p>
      </div>
      <img src="assets/san_jose_ca.jpg" alt="San Jose, CA" width="400px" height="300px">
    </div>
</div>
