<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron">
    <h2 class="display-3"> {{ title }} </h2>
    <p class="lead">Welcome to Restful Tasks Interactive.</p>
    <hr class="my-4">
    <app-server></app-server>
    <hr>
    <app-servers></app-servers>
    <hr>
    <div class="panel-body">
        <p> Click the button or press enter to get a single task.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Click to get one task</a>
        <app-key-up></app-key-up>
    </div>
</div>
