<div class="jumbotron">
    <h1 class="display-3">Seattle, WA</h1>
    <hr>
    <div style="display: flex; justify-content: space-between">
      <div>
        <p>Humidity: {{ humidity }} </p>
        <p>Temperature (high): {{ tempHigh }}</p>
        <p>Temperature (low): {{ tempLow }} </p>
        <p>Average Temperature: {{ tempAverage }} </p>
        <p>Status: {{ status }} </p>
      </div>
      <img src="assets/seattle-washington.jpg" alt="Seattle, WA" width="400px" height="300px">
    </div>
</div>
